body {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Chalkduster, fantasy;
  color: rgba(3, 34, 159, 0.68);
}
.form {
  /* background: white; */
  margin: auto;
  max-width: 350px;
  padding: 10px;
}
label {
  font-size: 20px;
  font-family: Chalkduster, fantasy;
  color: rgb(17, 94, 67);
}
input[type="text"] {
  display: inline-block;
  width: 20%;
  padding: 5px;
  margin: 10px;
}
